.profileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 50px auto;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.userInfo h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #000;
}

.userInfo h3 {
    font-size: 1rem;
    color: #555;
    margin: 5px 0 0 0;
}

.logoutBtn {
    padding: 15px 30px;
    font-size: 1rem;
    color: #fff;
    background-color: #d9534f;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logoutBtn:hover {
    background-color: #c9302c;
}

.ordersContainer {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    max-height: 1200px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 50px auto;
    border-radius: 0.5rem;
    gap: 1rem;
}


.orderBox {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
}

.detailsButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.detailsButton:hover {
    background-color: #0056b3;
}

