.wholeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartContainer {
    width: 60vw;
    height: auto;
    /* background-color: #fff; */
    /* border: 5px solid #ccc; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.cartContainer h1 {
    color: #fff;
    margin-left: 5%;
}

.cartContainer p {
    color: #fff;
    margin-left: 5%;
}

.cartContainer li {
    margin: 15px 0;
}

.cartImage {
    height: 100px;
}

.deliveryForm {
    display: flex;
    justify-content: flex-end;
}

.cartSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-end; */
    /* margin-top: 20px; */
    width: 40vw;
    height: 18rem;
    /* background-color: #fff; */
    /* border: 4px solid #ccc; */
    border-top: none;
    color: #fff;
}

.cartSummary ul {
    /* display: flex; */
    /* margin-left: 10%; */
    align-self: flex-start;
    list-style-type: none;
}

.cartSummary li {
    padding: 10px 10px;
}

.orderNow {
    width: 60%;
    height: 2rem;
    margin-top: auto;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #00e732;
    cursor: pointer;
    font-weight: bold;
    /* margin-bottom: 10%; */
}

.orderNow:hover {
    background-color: #5aff7e;
}

.cartSummary a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
