.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #181a1b;
    position: relative;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 65px;
}

.leftSection {
    margin-left: 35px;
    justify-self: start;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    height: 50px;
    font-family: "Merriweather", serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.searchBar {
    display: flex;
    justify-self: center;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    text-align: center;
}

.searchBar input {
    text-align: center;
    flex: 1;
    border: none;
    border-radius: 0.5rem;
    padding: 8px;
}

.icons {
    display: flex;
    justify-self: end;
    font-size: 2rem;
    gap: 25px;
    padding: 0 35px;
}

.icon {
    cursor: pointer;
    padding: 8px;
}

.iconLink {
    display: flex;
    align-items: center;
}

.icon:hover,
.categoriesBtn:hover {
    background-color: #1e1e1e;
    border-radius: 0.5rem;
}
