h1 {
    font-family: sans-serif;
    color: white;
    margin-top: 40px;
    margin-left: 5%;
}

/* .bestsellersBox {
    width: 90vw;
    height: 400px;
    border: solid 6px black;
    background-color: #f0f0f0;
    margin: 15px auto;

} */

.newThingsBox, .bestsellersBox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    width: 90vw;
    height: 450px;
    border: 6px solid black;
    margin: 15px auto;
    border-radius: 16px;
}
