* {
    box-sizing: border-box;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: middle;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #1e1e1e;
    overflow-x: hidden;
    font-family: "Merriweather", serif;
}
